/* IFR */
/* /< IFR */
/*
	===============================
			@Import	Mixins
	===============================
*/
.table > :not(:first-child) {
  border-top: none;
}

.table-header,
.table-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.table-header .header-search {
  position: relative;
}

.table-header .header-search .form-control {
  padding-right: 44px;
}

.table-header .header-search .search-image {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: #d3d3d3;
}

.custom-table .table th {
  background: #eff5ff !important;
  color: #515365;
  text-transform: none;
  font-size: 14px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border-top: 0;
  font-weight: 600;
}
.custom-table .table td,
.custom-table .table th {
  padding: 10px 21px;
}
.custom-table .table-hover:not(.table-dark) tbody tr:hover td {
  --bs-table-accent-bg: #fafafa;
}
.custom-table .table-striped:not(.table-dark) tbody tr:nth-of-type(odd) td {
  --bs-table-accent-bg: #fafafa;
}
.custom-table .table.b-table > tbody > .table-active,
.custom-table .table.b-table > tbody > .table-active > th,
.custom-table .table.b-table > tbody > .table-active > td {
  background-color: rgba(0, 0, 0, 0.045);
}
.custom-table .table .actions .cancel:hover {
  color: #e7515a;
}
.custom-table .table td .profile-img {
  height: 35px;
}
.custom-table .table th.header-checkbox {
  width: 1%;
}
.custom-table .b-table-top-row .form-control {
  height: calc(1.2em + 1.2rem + 2px);
}
.custom-table .column-visibility .form-group label,
.custom-table label {
  font-size: 14px;
}
.custom-table .table-footer .dataTables_info {
  padding-top: 0.85em;
  white-space: normal;
  color: #4361ee;
  font-weight: 600;
  border: 1px solid #e0e6ed;
  display: inline-block;
  padding: 10px 16px;
  border-radius: 6px;
  font-size: 13px;
}
.custom-table .VueTables .VueTables__wrapper .VueTables__table {
  margin-bottom: 0;
}
.custom-table .VueTables .VueTables__wrapper .VueTables__table thead th .resize-handle {
  width: 2px !important;
  height: 100% !important;
  background: #dee2e6;
}
.custom-table .VueTables .VueTables__wrapper .VueTables__table .VueTables__filters-row > th {
  background: #fff !important;
  border-bottom: 1px solid #dee2e6;
}
.custom-table .VueTables .VueTables__wrapper .VueTables__table .VueTables__filters-row > th .form-control {
  padding: 7px 16px;
  font-size: 13px;
}
.custom-table .VueTables > .row > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 16px 26px;
}
.custom-table .VueTables .VueTables__search,
.custom-table .VueTables .VueTables__limit {
  display: inline-flex;
  margin-bottom: 0;
}
.custom-table .VueTables .VueTables__search .VueTables__search-field,
.custom-table .VueTables .VueTables__search .VueTables__limit-field,
.custom-table .VueTables .VueTables__limit .VueTables__search-field,
.custom-table .VueTables .VueTables__limit .VueTables__limit-field {
  display: flex;
  align-items: center;
}
.custom-table .VueTables .VueTables__search .VueTables__search-field label,
.custom-table .VueTables .VueTables__search .VueTables__limit-field label,
.custom-table .VueTables .VueTables__limit .VueTables__search-field label,
.custom-table .VueTables .VueTables__limit .VueTables__limit-field label {
  margin-bottom: 0;
  white-space: nowrap;
  margin-right: 8px;
}
.custom-table .VueTables .VueTables__search .VueTables__search-field .form-control,
.custom-table .VueTables .VueTables__search .VueTables__limit-field .form-control,
.custom-table .VueTables .VueTables__limit .VueTables__search-field .form-control,
.custom-table .VueTables .VueTables__limit .VueTables__limit-field .form-control {
  padding: 7px 16px;
  font-size: 13px;
  height: calc(1.3em + 1.3rem + 2px);
  min-width: 90px;
}
.custom-table .VueTables .VueTables__search .VueTables__search-field select.form-control,
.custom-table .VueTables .VueTables__search .VueTables__limit-field select.form-control,
.custom-table .VueTables .VueTables__limit .VueTables__search-field select.form-control,
.custom-table .VueTables .VueTables__limit .VueTables__limit-field select.form-control {
  background: #fff url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") right 0.75rem center/8px 10px no-repeat;
  line-height: 1;
}
.custom-table .VueTables .VuePagination {
  margin: 0;
}
.custom-table .VueTables .VuePagination nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}
.custom-table .VueTables .VuePagination nav .VuePagination__pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}
.custom-table .VueTables .VuePagination nav .VuePagination__pagination li.page-item {
  border-radius: 100%;
}
.custom-table .VueTables .VuePagination nav .VuePagination__pagination li.page-item:not(:last-child) {
  margin-right: 4px;
}
.custom-table .VueTables .VuePagination nav .VuePagination__pagination li.page-item.disabled {
  opacity: 0.7;
  cursor: not-allowed !important;
}
.custom-table .VueTables .VuePagination nav .VuePagination__pagination li.page-item:not(.disabled):hover .page-link, .custom-table .VueTables .VuePagination nav .VuePagination__pagination li.page-item:hover .page-link {
  color: #4361ee;
}
.custom-table .VueTables .VuePagination nav .VuePagination__pagination li.page-item .page-link {
  border-radius: 100%;
  padding: 8px 14px;
  background-color: #e0e6ed;
  font-weight: 600;
  color: #3b3f5c;
  outline: 0;
  box-shadow: none;
}
.custom-table .VueTables .VuePagination nav .VuePagination__pagination li.page-item .page-link:hover .page-link {
  color: #0a2241;
}
.custom-table .VueTables .VuePagination nav .VuePagination__pagination li.page-item .page-link.active {
  background-color: #0a2241 !important;
  border-color: #0a2241;
  color: #fff !important;
}
.custom-table .VueTables .VuePagination nav .VuePagination__pagination li.page-item .page-link .page-link.active:hover, .custom-table .VueTables .VuePagination nav .VuePagination__pagination li.page-item .page-link.active .page-link {
  color: #fff;
}
.custom-table .VueTables .VuePagination nav .VuePagination__pagination li.page-item:not(.disabled).VuePagination__pagination-item-prev-page:hover .page-link, .custom-table .VueTables .VuePagination nav .VuePagination__pagination li.page-item:not(.disabled).VuePagination__pagination-item-next-page:hover .page-link {
  background-color: #0a2241;
  color: #fff;
}
.custom-table .VueTables .VuePagination nav .VuePagination__count {
  width: auto;
  margin-bottom: 0;
  color: #4361ee;
  font-weight: 600;
  border: 1px solid #e0e6ed;
  display: inline-block;
  padding: 10px 16px;
  border-radius: 6px;
  font-size: 13px;
}
.custom-table .VueTables .VueTables__sortable {
  cursor: pointer;
}
.custom-table .VueTables .VueTables__sortable .sort-icon-none {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='101' height='101' preserveAspectRatio='none'%3E%3Cpath opacity='.3' d='M51 1l25 23 24 22H1l25-22zm0 100l25-23 24-22H1l25 22z'/%3E%3C/svg%3E");
  background-position: right;
  padding-right: 30px;
  background-repeat: no-repeat;
  background-size: 8px 14px;
}
.custom-table .VueTables .VueTables__sortable .sort-icon-asc {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='101' height='101' preserveAspectRatio='none'%3E%3Cpath d='M51 1l25 23 24 22H1l25-22z'/%3E%3Cpath opacity='.3' d='M51 101l25-23 24-22H1l25 22z'/%3E%3C/svg%3E");
}
.custom-table .VueTables .VueTables__sortable .sort-icon-desc {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='101' height='101' preserveAspectRatio='none'%3E%3Cpath opacity='.3' d='M51 1l25 23 24 22H1l25-22z'/%3E%3Cpath d='M51 101l25-23 24-22H1l25 22z'/%3E%3C/svg%3E");
}

.w-90 {
  width: 90px;
}

@media (max-width: 576px) {
  .table-header,
  .table-footer {
    flex-direction: column;
  }
  .table-header .header-search {
    width: 100%;
  }
  .table-header > div:not(:last-child) {
    margin-bottom: 15px;
  }
  .table-footer > div:not(:first-child) {
    margin-top: 15px;
  }
  .custom-table .VueTables > .row > div {
    flex-direction: column-reverse;
  }
  .custom-table .VueTables > .row > div .VueTables__limit {
    margin-bottom: 12px;
  }
  .custom-table .VueTables .VuePagination nav {
    flex-direction: column;
  }
  .custom-table .VueTables .VuePagination nav .VuePagination__pagination {
    margin-bottom: 12px;
  }
}
.vue3-datatable .form-group {
  padding: 16px 26px 0px;
}
.vue3-datatable .form-group .form-control {
  width: auto;
  margin-left: auto;
  font-size: 14px;
  padding: 10px 20px;
}
.vue3-datatable .bh-table-responsive table thead tr,
.vue3-datatable .bh-table-responsive table tfoot tr,
.vue3-datatable .bh-table-responsive table tbody tr {
  color: #515365;
}
.vue3-datatable .bh-table-responsive table.table-hover tbody tr:hover {
  color: #212529;
}
.vue3-datatable .bh-table-responsive table thead tr, .vue3-datatable .bh-table-responsive table tfoot tr,
.vue3-datatable .bh-table-responsive table thead tr th.bh-sticky, .vue3-datatable .bh-table-responsive table tbody tr td.bh-sticky {
  background: #eff5ff !important;
}
.vue3-datatable .bh-table-responsive table tbody tr {
  border-color: #ebedf2;
}
.vue3-datatable .bh-table-responsive table thead tr th, .vue3-datatable .bh-table-responsive table tfoot tr th {
  font-weight: 600;
}
.vue3-datatable .bh-pagination {
  padding: 16px 16px;
}
.vue3-datatable .bh-pagination .bh-page-item {
  background-color: #e0e6ed;
  border-width: 0px !important;
  color: #3b3f5c;
  width: 38px;
  height: 38px;
}
.vue3-datatable .bh-pagination .bh-page-item:hover, .vue3-datatable .bh-pagination .bh-page-item.bh-active {
  background-color: #4361ee;
  color: #fff;
}
.vue3-datatable .bh-pagination select {
  background-color: transparent;
  border-color: #bfc9d4;
  color: #3b3f5c;
}
.vue3-datatable .bh-pagination select:focus {
  box-shadow: none;
}
.vue3-datatable .usr-img-frame img {
  width: 35px;
}
.vue3-datatable .alt-pagination .bh-pagination .bh-page-item, .vue3-datatable .next-prev-pagination .bh-pagination .bh-page-item {
  min-width: -moz-max-content;
  min-width: max-content;
  border-radius: 4px;
}
.vue3-datatable .next-prev-pagination .bh-pagination > div {
  flex-direction: column;
}
.vue3-datatable .next-prev-pagination .bh-pagination .bh-pagination-number {
  margin-left: 0px !important;
}
.vue3-datatable .bh-table-responsive input[type=checkbox] + div {
  border-style: solid;
  border-color: #888ea8;
}
.vue3-datatable .cursor-pointer {
  cursor: pointer;
}/*# sourceMappingURL=table-custom.css.map */