//Color hover
$colorHover: #f4f4f4;
$bg-pdf: #f0f0f0;

//Color 
$pdf: #AD0B00;
$icon-folder: #FCD53F;
$white: #ffffff;
$file: #555;

//Tamaño de textos
$text-sm: 14px;
$text-md: 16px;
$text-lg: 18px;

//Tamaño de icons grandes
$iconLg: 3em;
$thead: 14px;
$tbody: 16px;

//Bordes
$border-color: #e4e4e4;
$border-width: 1px;
$border-style: solid;

//Botones
$btn-guardar: #0a2241;

//Paddings
$padding-sm: 4px;
$padding-md: 12px;
$padding-lg: 16px;

//Fondos
$bg-claro: #f9f9f9;
$bg-claro-2: #ccc;

//Hipervinculos
$link-base: #007bff;

